## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
#from config import g_key
g_key = "AIzaSyBq4wbi8VJjcyElK5y81V-P8wy9VSNf6nU"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Rikitea,PF,-23.12,-134.97,69.89,83,43,22.82,scattered clouds
1,1,Kapaa,US,22.08,-159.32,82.40,74,1,12.75,clear sky
2,2,Kodiak,US,57.79,-152.41,57.06,79,100,1.70,overcast clouds
3,3,Hvide Sande,DK,56.00,8.13,61.00,76,20,1.99,few clouds
4,4,Butaritari,KI,3.07,172.79,83.03,68,100,10.54,overcast clouds

In [3]:
city_data_df.dtypes

City_ID          int64
City            object
Country         object
Lat            float64
Lng            float64
Max Temp       float64
Humidity         int64
Cloudiness       int64
Wind Speed     float64
Description     object
dtype: object

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Kapaa,US,22.08,-159.32,82.40,74,1,12.75,clear sky
4,4,Butaritari,KI,3.07,172.79,83.03,68,100,10.54,overcast clouds
8,8,Thinadhoo,MV,0.53,72.93,83.46,73,36,9.01,scattered clouds
9,9,Jalu,LY,29.03,21.55,83.43,45,0,19.93,clear sky
12,12,Magione,IT,43.14,12.21,87.01,46,40,4.00,scattered clouds
18,18,Ceres,US,37.59,-120.96,87.01,33,1,4.70,clear sky
21,21,Binzhou,CN,37.37,118.02,82.99,77,99,8.93,light rain
26,26,Ha Tinh,VN,18.33,105.90,81.25,76,100,8.25,overcast clouds
40,40,Champerico,GT,14.30,-91.92,84.20,74,75,6.93,broken clouds
45,45,Guerrero Negro,MX,27.98,-114.06,84.13,47,0,16.53,clear sky

In [6]:
# 4a. Determine if there are any empty rows.

#"It is a good idea to keep the number of cities to fewer than 200 to make it easier to plot the markers on the heatmap."

preferred_cities_df.count()

City_ID        137
City           137
Country        137
Lat            137
Lng            137
Max Temp       137
Humidity       137
Cloudiness     137
Wind Speed     137
Description    137
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#no blanks
clean_df = preferred_cities_df

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.40,clear sky,22.08,-159.32,
4,Butaritari,KI,83.03,overcast clouds,3.07,172.79,
8,Thinadhoo,MV,83.46,scattered clouds,0.53,72.93,
9,Jalu,LY,83.43,clear sky,29.03,21.55,
12,Magione,IT,87.01,scattered clouds,43.14,12.21,
18,Ceres,US,87.01,clear sky,37.59,-120.96,
21,Binzhou,CN,82.99,light rain,37.37,118.02,
26,Ha Tinh,VN,81.25,overcast clouds,18.33,105.90,
40,Champerico,GT,84.20,broken clouds,14.30,-91.92,
45,Guerrero Negro,MX,84.13,clear sky,27.98,-114.06,

In [9]:
# 6a. Set parameters to search for hotels within 5000 meters.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
            
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
# 7. Drop the rows where there is no Hotel Name.
    except (IndexError):
        print("Hotel not found... skipping.") 
        hotel_df.drop(index, inplace=True)
        
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [10]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.40,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,Butaritari,KI,83.03,overcast clouds,3.07,172.79,Isles Sunset Lodge
9,Jalu,LY,83.43,clear sky,29.03,21.55,Jalu Hotel
12,Magione,IT,87.01,scattered clouds,43.14,12.21,Villaggio Albergo Le Tre Isole
18,Ceres,US,87.01,clear sky,37.59,-120.96,Howard Johnson by Wyndham Modesto Ceres
...,...,...,...,...,...,...,...
686,Porbandar,IN,81.75,moderate rain,21.64,69.61,Lords Inn Porbandar
689,Salina Cruz,MX,86.34,light rain,16.17,-95.20,Amerik HOTEL
691,Olinda,BR,80.60,scattered clouds,-8.01,-34.86,Hotel 5 Sóis
692,Sabang,ID,83.86,broken clouds,5.89,95.32,Hotel Citra
697,Serang,ID,80.01,haze,-6.11,106.15,Horison Ultima Ratu

In [12]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.40,clear sky,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
4,Butaritari,KI,83.03,overcast clouds,3.07,172.79,Isles Sunset Lodge
9,Jalu,LY,83.43,clear sky,29.03,21.55,Jalu Hotel
12,Magione,IT,87.01,scattered clouds,43.14,12.21,Villaggio Albergo Le Tre Isole
18,Ceres,US,87.01,clear sky,37.59,-120.96,Howard Johnson by Wyndham Modesto Ceres
...,...,...,...,...,...,...,...
686,Porbandar,IN,81.75,moderate rain,21.64,69.61,Lords Inn Porbandar
689,Salina Cruz,MX,86.34,light rain,16.17,-95.20,Amerik HOTEL
691,Olinda,BR,80.60,scattered clouds,-8.01,-34.86,Hotel 5 Sóis
692,Sabang,ID,83.86,broken clouds,5.89,95.32,Hotel Citra
697,Serang,ID,80.01,haze,-6.11,106.15,Horison Ultima Ratu

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[['Lat', 'Lng']]

In [15]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))